.detail-img img{
    width: 100%;
}
.detail div{
    height: 18px;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 14px;
}
.intro{
    margin: 16px auto;
    border-left: 16px solid RGB(228, 200, 156);
    font-size: 16px;
    padding-left: 4px;
    font-size: 14px;
}
.synopsis{
    padding-left: 20px;
    font-size: 14px;
}
.btn{
    margin-top: 30px;
    width: 100%;
}
.cpn-primary-button {
    font-size: 14px;
    min-width: 156px;
    height: 36px;
    line-height: 36px;
    border: none;
    background-color: #fe8233;
    padding: 0;
    margin: 0 auto;
    border-radius: 18px;
    color: #fff;
    -webkit-transition: 0.5s ease;
}