.swiper-slide img{
width: 100%
}
.main{
    margin: 10px 0;
    
    
}
.main-list img{
    width: 100%;
    border:none;
    box-sizing: border-box;
    
}
.main-con{
    margin: 20px;
    box-shadow: 0px 0.5px 0.5px #a8a8a8;
}
.moviename{
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0 0 10px;
}
.movieintro{
    font-size: 8px;
    color: #9a9a9a;
    line-height: 15px;
    padding: 5px 0 0 10px;
}
@keyframes ai{
    0%{opacity: 1};
    100%{opacity:0};
}
.more-button {
    width: 160px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 10px auto 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #616161;
    cursor: pointer;
}
.upcoming {
    width: 65px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: -10px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #eee;
    background-color: #a7a7a7;
}
.dividing-line {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #a8a8a8;
}
