.form {
    padding: 0px 31px 0px 31px;
}
.form-group{
    width: 100%;
    margin: 30px 0 0;
    position: relative;
}
.form-group input{
    outline: none;
}
.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    box-sizing: border-box;
    border:none;
    background-color: #eee;
}
.input-bg{
    position: absolute;
    top: 21px;
    left: 0;
    height: 12px;
    width: 100%;
    border: solid #c4c4c4;
    border-width: 0 1px 1px 1px;
}
.submit{
    width: 30%;
    background-color: #fe8233;
    color: #fff;
    border: none;
    border-radius: 36px;
    margin-top: 45px;
    padding: 8px 12px;
    font-size: 15px;
    outline: none;
}
.btn {
    display: flex;
    justify-content: space-around;
}
