.choosing{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #fe6e00;
    margin:10px 10px 0 10px;
}
.choosing a{
    display: block;
    width: 50%;
    text-align: center;
    margin: 10px 0px 0 0px;
    padding-bottom: 10px;
}
.choosing a.active{
    border-bottom: 3px solid #fe6e00;
}
.movies-page{
    margin:10px 10px 0 10px;
}
.movies-list li{
    display: flex;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px dashed #c9c9c9;
}
.mov-pic{
    width: 60px;
    height:83px;
}
.mov-pic img{
    width:100%;
}
.mov-info p{
    margin-left: 20px;
}
.mov-name{
    font-size: 16px;
    line-height: 32px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mov-intro{
    height: 24px;
    line-height: 24px;
    color: #8e8e8e;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}
.grade{
    position: absolute;
    top:20px;
    right:10px;
}
.addmore{
    width: 100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    color: #000;
}